<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="partials :: head (Title = 'Create')"></head>
    <title>Create a Barber Review!</title>
</head>
<body>
<!--<nav th:replace="fragments/navbar :: navbar"></nav>-->
<!--<div class="container p-5 border-left" style="margin-top: -5%;">-->
    <div class="container p-5 border-left">

    <h2>Create Review</h2>

    <!--    CREATE REVIEW FORM   -->
    <hr>
    <form th:action="@{'/reviews/create'}" th:method="post" class="p-5" style="margin-top: -5%;">
        <div class="form-group">
            <label for="createTitle">Title</label>
            <input type="text" class="form-control" id="createTitle" name="createTitle">
        </div>
        <div class="form-group">
            <label for="createContent">Content</label>
            <textarea class="form-control" id="createContent" name="createContent"></textarea>
        </div>
        <button style="border-left: 4px solid navy;" class="bg-dark text-white" type="submit">Submit Review</button>
        <a class="float-right" style="text-decoration: none; color:black;" th:href="@{/services}">back</a>
    </form>

</div>
<footer th:replace="partials :: footer"></footer>
</body>
</html>