<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="partials :: head (Title = 'Deltete By Id')"></head>

<!--    Custom Styling For Side Nav-->
<!--<link th:href="@{/css/sidenav.css}" href="/css/sidenav.css" rel="stylesheet" type="text/css">-->


</head>
<body>

<!--Nav-->
<header th:replace="partials :: header"></header>

<div class="main">
    <div class="container p-5 border-left">

        <!--    Side Nav-->
<!--        <div class="sidenav">-->
<!--            <a th:href="@{'/about'}">About</a>-->
<!--            <a th:href="@{'/reviews'}">View</a>-->
<!--&lt;!&ndash;            <a th:href="@{'/reviews/create'}">Create</a>&ndash;&gt;-->
<!--&lt;!&ndash;            <a th:href="@{'/reviews/create'}">Edit</a>&ndash;&gt;-->
<!--            <a th:href="@{'/mapbox-map'}">Map</a>-->
<!--        </div>-->

        <h2 class="text-center">Would you like to Delete Barber Review?</h2>
        <hr>

        <!--    Viewing the review based off off id-->
<!--        <h2 th:text="${review.title}"></h2>-->
<!--        <p th:text="${review.content}"></p>-->
<!--        <p th:text="${review.rating}"></p>-->
<!--        <form th:action="@{'/reviews/' + ${review.getId()} + '/delete'}" th:method="post">-->
<!--            <button>Delete</button>-->
<!--        </form>-->
<!--        <a class="float-right" style="text-decoration: none; color:black;" th:href="@{/reviews}">Back</a>-->

        <div class="card">
            <div class="card-header">
                Review
            </div>
            <div class="card-body">
                <h2 class="card-title" th:text="${review.title}"></h2>
                <p class="card-text" th:text="${review.content}"></p>
                <p class="card-text" th:text="${review.rating}"></p>
                <form th:action="@{'/reviews/' + ${review.getId()} + '/delete'}" th:method="post">
                    <button class="btn btn-danger">Delete</button>
                </form>
                <a class="float-right" style="text-decoration: none; color:black;" th:href="@{/reviews}">Back</a>
            </div>
        </div>

    </div>
    <footer th:replace="partials :: footer"></footer>
</div>
</body>
</html>

<!--Source-->
<!--https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_sidenav-->