<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="partials :: head (Title = 'Edit')"></head>
<title>Edit a Barber Review!</title>
</head>
<body>
<header th:replace="partials :: header"></header>

<!--<div class="container p-5 border-left" style="margin-top: -5%;">-->
<div class="container p-5 border-left">


    <h2>Edit Review</h2>

    <!-- EDIT REVIEW FORM   -->
    <hr>
    <form th:action="@{'/reviews/{id}/edit'}" th:method="POST" th:object="${review}" class="p-5" style="margin-top: -5%;">
        <div class="form-group">
            <label for="editTitle">Title</label>
            <input type="text" class="form-control" id="editTitle" th:field="*{title}">
        </div>
        <div class="form-group">
            <label for="editContent">Content</label>
            <textarea class="form-control" id="editContent" th:field="*{content}"></textarea>
        </div>
        <div class="form-group">
            <label for="editRating">Rating</label>
            <textarea class="form-control" id="editRating" th:field="*{rating}"></textarea>
        </div>
        <!--        <div class="form-group">-->
        <!--            <label for="createContent">Content</label>-->
        <!--            <textarea class="form-control" id="createimage" th:field="*{image}"></textarea>-->
        <!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label for="editAppointment">Appointment</label>-->
<!--            <textarea class="form-control" id="editAppointment" th:field="*{appointment}"></textarea>-->
<!--        </div>-->
        <button style="border-left: 4px solid navy;" class="bg-dark text-white" type="submit">Edit Review</button>
        <a class="float-right" style="text-decoration: none; color:black;" th:href="@{/reviews}">back</a>
    </form>
</div>
<footer th:replace="partials :: footer"></footer>
</body>
</html>