<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<head th:replace="partials :: head (Title = 'Edit')"></head>
<title>Edit a Barber Review!</title>

<!--    Custom Styling For Side Nav-->
    <link th:href="@{/css/sidenav.css}" href="/css/sidenav.css" rel="stylesheet" type="text/css">


</head>
<body>

<!--Nav-->
<header th:replace="partials :: header"></header>

<div class="main">
    <!--        Side Nav-->
    <div class="sidenav">
        <a th:href="@{'/about'}">About</a>
        <a th:href="@{'/reviews'}">View</a>
<!--        <a th:href="@{'/reviews/create'}">Create</a>-->
<!--        <a th:href="@{'/reviews/create'}">Edit</a>-->
        <a th:href="@{'/mapbox-map'}">Map</a>
    </div>

    <div class="container p-5 border-left">

        <h2 class="text-center">Edit Barber Review</h2>

        <!-- EDIT REVIEW FORM   -->
        <hr>
        <form th:action="@{/reviews/{id}/edit(id=${review.id})}" th:method="POST" th:object="${review}" class="p-5"
              style="margin-top: -5%;">
            <div class="form-group">
                <label for="editTitle">Title</label>
                <input type="text" class="form-control" id="editTitle" th:field="*{title}" th:value="*{title}">
            </div>
            <div class="form-group">
                <label for="editContent">Content</label>
                <textarea class="form-control" id="editContent" th:field="*{content}" th:value="*{content}"></textarea>
            </div>
            <div class="form-group">
                <label for="editRating">Rating</label>
                <textarea class="form-control" id="editRating" th:field="*{rating}" th:value="*{rating}"></textarea>
            </div>
            <!--        <div class="form-group">-->
            <!--            <label for="createContent">Content</label>-->
            <!--            <textarea class="form-control" id="createimage" th:field="*{image}"></textarea>-->
            <!--        </div>-->
            <button style="border-left: 4px solid navy;" class="bg-dark text-white" type="submit">Edit Review</button>
            <a class="float-right" style="text-decoration: none; color:black;" th:href="@{/reviews}">back</a>
        </form>
    </div>
    <footer th:replace="partials :: footer"></footer>
</div>
</body>
</html>

<!--Source-->
<!--https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_sidenav-->