<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="partials :: head (Title = 'View all')"></head>
<title>Submit a Barber Review!</title>

<!--    Custom Styling For Side Nav-->
<link th:href="@{/css/sidenav.css}" href="/css/sidenav.css" rel="stylesheet" type="text/css">


</head>
<body>

<!--Nav-->
<header th:replace="partials :: header"></header>

<div class="main">
<div class="container p-5 border-left">

<!--    Side Nav-->
    <div class="sidenav">
        <a th:href="@{'/about'}">About</a>
        <a th:href="@{'/reviews'}">View</a>
<!--        <a th:href="@{'/reviews/create'}">Create</a>-->
        <a th:href="@{'/mapbox-map'}">Map</a>
    </div>

    <h2 class="text-center">Viewing Barber Reviews</h2>
    <hr>
<!--    <a th:href="@{'/reviews/create'}">Create Review</a>-->
<!--    <hr>-->

    <!--    Viewing the review based off off id-->
<!--    <div th:each="review : ${reviews}">-->
<!--        <h2 th:text="${review.title}"></h2>-->
<!--        <p th:text="${review.content}"></p>-->
<!--        <p th:text="${review.rating}"></p>-->
<!--        <a th:href="@{'/reviews/' + ${review.id}}">View Review</a>-->
<!--    </div>-->
    <div th:each="review : ${reviews}">
    <div class="card">
        <div class="card-header">
            Review
        </div>
        <div class="card-body">
<!--            <div th:each="review : ${reviews}">-->
                <h2 class="card-title" th:text="${review.title}"></h2>
                <p class="card-text" th:text="${review.content}"></p>
                <p class="card-text" th:text="${review.rating}"></p>
                <a class="btn btn-primary" th:href="@{'/reviews/' + ${review.id}}">View Review</a>
            </div>
        </div>
        <br>
    </div>

</div>
<footer th:replace="partials :: footer"></footer>
</div>
</body>
</html>

<!--Source-->
<!--https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_sidenav-->