<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials :: head (Title = 'Add Service Page')">
    <meta charset="UTF-8">
</head>
<body>
<style>
    .required {
        color: red;
    }

    body {
        background-color: #2B333D;
    }
</style>
<header th:replace="partials :: header"></header>
<div class="container">
    <h1>Add Service page for</h1>
    <h2 th:text="${user.firstName}"></h2>

    <form th:action="@{'/barber/add-service'}"  th:method="POST" th:object="${service}">
        <div class="form-group">
            <label for="title">Service Name <span class="required">*</span></label>
            <input class="form-control" type="text" th:field="*{title}" id="title" required placeholder="Enter service name">
        </div>

        <div class="form-group">
            <label for="description">Description <span class="required">*</span></label>
            <input class="form-control" th:field="*{description}" id="description" required placeholder="Enter description of Service">
        </div>

        <div class="form-group">
            <label for="duration">Duration <span class="required">*</span></label>
            <input class="form-control" th:field="*{duration}" type="number" id="duration" required placeholder="30 minutes">
        </div>

        <div class="form-group">
            <label for="price">Price <span class="required">*</span></label>
            <input class="form-control" th:field="*{price}" id="price" required placeholder="Enter price">
        </div>

        <button class="btn btn-primary">Add Service</button>
        <a class="btn btn-primary float-right" style="text-decoration: none; color:black;" th:href="@{/barber/profile}">Back</a>
    </form>
</div>
    <footer th:replace="partials :: footer"></footer>
</body>
</html>