<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add service page</title>
</head>
<body>
    <h1>Add Service page</h1>
    <form th:action="@{'/barber/add-service'}"  th:method="POST" th:object="${service}">
        <div>
            <label for="title">Service Name: </label>
            <input type="text" th:field="*{title}" id="title">
        </div>

        <div>
            <label for="description">Description: </label>
            <input th:field="*{description}" id="description">
        </div>

        <div>
            <label for="duration">Duration: </label>
            <input th:field="*{duration}" id="duration">
        </div>

        <div>
            <label for="price">Price: $</label>
            <input th:field="*{price}" id="price">
        </div>
<!--        <div th:object="${user}">-->
<!--            <input type="hidden" th:value="${user.barberDetail}" th:field="${service.barberDetail}">-->
<!--        </div>-->
        <button>Add Service</button>

    </form>
</body>
</html>