<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials :: head (Title = 'Barbers')">
    <link rel="stylesheet" href="../../static/css/profile.css">
</head>
<body>
<!--Styling for text and background color-->
<style>
    body {
        background-color: #2B333D;
        color: #FEFED3;
    }

    .cardz {
        background-color: #2B333D;
    }

    .div1 {
        border: 15px #8D2827;
        padding: 50px;
        margin: 20px;
    }
</style>


<header th:replace="partials :: header"></header>
<div class="container">
    <div class="row row-cols-1 row-cols-md-3">
        <div class="card cardz" th:each="barber : ${barbers}" th:if="${barber.barberDetail != null}">
            <div class="profile mr-3"><img th:src="@{${'/img/profile_placeholder.png'}}" alt="gentleman_placeholder"
                                           width="196" class="rounded mb-2 img-thumbnail">
                <div class="card-body">
                    <a th:href="@{/barber/profile/{id}(id=${barber.id})}"><h5 class="card-title"
                                                                              th:text="${barber.firstName}"></h5></a>
                    <p class="card-text" th:text="${barber.barberDetail.bio}"></p>
                </div>
                <div class="card-footer">
                    <small class="text-muted"
                           th:text="${barber.barberDetail.location.city} + ', ' + ${barber.barberDetail.location.state} + ' ' + ${barber.barberDetail.location.zipCode}"></small>
                </div>
            </div>
        </div>
    </div>
</div>



<div>
    <footer th:replace="partials :: footer"></footer>
</div>
</body>
</html>