<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="partials :: head (Title = 'View By Id')">

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header>
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
        
        <a class="navbar-brand nav-link" th:href="@{/}"><i class="fas fa-cut"></i> SHEARUP</a>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class=" nav justify-content-center navbar-nav navbar-inner ml-auto">
                <!--WITH BANG IF NOT AUTHENTICATED HIDE THESE-->
                <th:block sec:authorize="!isAuthenticated()">
                    <li class="nav-item">
                        <a class="btn btn-primary" th:href="@{/login}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-primary ml-3" th:href="@{/sign-up}">Sign Up</a>
                    </li>
                </th:block>
                
                <!--IF AUTHENTICATED SHOW THESE-->
                <!--LOGGED IN CLIENT / BARBER USER-->
                
                <!--                <th:block sec:authorize="isAuthenticated()">-->
                <!--                    <li class="nav-item">-->
                <!--                        <a class="nav-link" th:href="/services">Services</a>-->
                <!--                    </li>-->
                <!--                    <li class="nav-item">-->
                <!--                        <a class="nav-link" th:href="/barberProfile">Barber</a>-->
                <!--                    </li>-->
                <!--                    <li class="nav-item">-->
                <!--                        <a class="nav-link" th:href="/clientProfile">Client</a>-->
                <!--                    </li>-->
                <!--                </th:block>-->
                
                <th:block sec:authorize="isAuthenticated()">
                    <li class="nav-item">
                        <form  th:action="@{/logout}" th:method="POST">
                            <button id="logout" class="btn-link btn" style="color: #8D2827"><i class="fas fa-sign-out-alt"></i></button>
                        </form>
                    </li>
                </th:block>
            </ul>
        </div>
    </nav>
</header>
<div class="container">
    <form th:action="@{'/barber/barber-details/location'}"  th:method="POST" th:object="${location}">
        <h1>Where do you Shearup?</h1>
        <div class="form-group">
            <label for="addressOne">Enter Address: </label>
            <input class="form-control" type="text" th:field="*{addressOne}" id="addressOne" placeholder="Enter Address ">
        </div>

        <div class="form-group">
            <label for="addressTwo">Enter Street/Ln/Apt: </label>
            <input class="form-control" type="text" th:field="*{addressTwo}" id="addressTwo" placeholder="Enter Street ">
        </div>

        <div class="form-group">
            <label for="city">Enter City: </label>
            <input class="form-control" type="text" th:field="*{city}" id="city" placeholder="Enter City">
        </div>

        <div class="form-group">
            <label for="state">Enter State: </label>
            <input class="form-control" type="text" th:field="*{state}" id="state" placeholder="Enter State: TX..">
        </div>

        <div class="form-group">
            <label for="zipcode">Enter Zipcode: </label>
            <input class="form-control" type="number" th:field="*{zipCode}" id="zipcode" placeholder="Enter Zipcode">
        </div>

        <button class="btn btn-primary">Submit Location!</button>
    </form>
</div>


<!--<footer th:replace="partials :: footer"></footer>-->
</body>

</html>