<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="partials :: head (Title = 'View By Id')">

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header>
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">

        <a class="navbar-brand nav-link" th:href="@{/}"><i class="fas fa-cut"></i> SHEARUP</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class=" nav justify-content-center navbar-nav navbar-inner ml-auto">
                <!--WITH BANG IF NOT AUTHENTICATED HIDE THESE-->
                <th:block sec:authorize="!isAuthenticated()">
                    <li class="nav-item">
                        <a class="btn btn-primary" th:href="@{/login}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-primary ml-3" th:href="@{/sign-up}">Sign Up</a>
                    </li>
                </th:block>

                <!--IF AUTHENTICATED SHOW THESE-->
                <!--LOGGED IN CLIENT / BARBER USER-->

                <!--                <th:block sec:authorize="isAuthenticated()">-->
                <!--                    <li class="nav-item">-->
                <!--                        <a class="nav-link" th:href="/services">Services</a>-->
                <!--                    </li>-->
                <!--                    <li class="nav-item">-->
                <!--                        <a class="nav-link" th:href="/barberProfile">Barber</a>-->
                <!--                    </li>-->
                <!--                    <li class="nav-item">-->
                <!--                        <a class="nav-link" th:href="/clientProfile">Client</a>-->
                <!--                    </li>-->
                <!--                </th:block>-->

                <th:block sec:authorize="isAuthenticated()">
                    <li class="nav-item">
                        <form  th:action="@{/logout}" th:method="POST">
                            <button id="logout" class="btn-link btn" style="color: #8D2827"><i class="fas fa-sign-out-alt"></i></button>
                        </form>
                    </li>
                </th:block>
            </ul>
        </div>
    </nav>
    <style>
        .required {
            color: red;
        }

        body {
            background-color: #2B333D;
        }
    </style>
</header>
<div class="container">
    <form th:action="@{'/barber/edit-barber-location'}"  th:method="POST" th:object="${location}">
        <h1>Where do you Shearup?</h1>
        <div class="form-group">
            <label for="addressOne">Address Line 1 <span class="required">*</span></label>
            <input class="form-control" type="text" th:field="*{addressOne}" id="addressOne" name="addressOne" required th:value="${location.addressOne}">
        </div>

        <div class="form-group">
            <label for="addressTwo">Address Line 2 </label>
            <input class="form-control" type="text" th:field="*{addressTwo}" id="addressTwo" name="addressTwo" th:value="${location.addressTwo}">
        </div>

        <div class="form-group">
            <label for="city">City <span class="required">*</span></label>
            <input class="form-control" type="text" th:field="*{city}" id="city" name="city" required th:value="${location.city}">
        </div>

        <div class="form-group">
            <label for="state">State <span class="required">*</span></label>
            <input class="form-control" type="text" th:field="*{state}" id="state" name="state" required th:value="${location.state}">
        </div>

        <div class="form-group">
            <label for="zipcode">Zipcode <span class="required">*</span></label>
            <input class="form-control" type="number" th:field="*{zipCode}" id="zipcode" name="zipcode" required th:value="${location.zipCode}">
        </div>

        <button class="btn btn-primary">Edit Location</button>
        <input type="hidden" th:value="${location.id}" name="locationId">
        <a class="btn btn-primary float-right" style="text-decoration: none; color:black;" th:href="@{/barber/profile}">Back</a>

    </form>
</div>


<footer th:replace="partials :: footer"></footer>
</body>

</html>