<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials :: head (Title = 'Edit Service Page')">
    <meta charset="UTF-8">
</head>
<body>
<style>
    .required {
        color: red;
    }

    h1 {
        color: #FEFED3;
    }

    h2 {
        color: #FEFED3;
    }

    body {
        background-color: #2B333D;
    }

    label {
        color: #FEFED3;
    }
</style>
<header th:replace="partials :: header"></header>
<div class="container">
<h1>Edit Service page for</h1>
<h2 th:text="${user.firstName}"></h2>
<form th:action="@{'/barber/edit-service'}"  th:method="POST" th:object="${services}">
    <div class="form-group">
        <label for="title">Service Name <span class="required">*</span></label>
        <input class="form-control border border-danger rounded" type="text" th:field="*{title}" id="title" required name="title" th:value="${services.title}">
    </div>

    <div class="form-group">
        <label for="description">Description <span class="required">*</span></label>
        <input class="form-control border border-danger rounded" th:field="*{description}" id="description" required name="description" th:value="${services.description}">
    </div>

    <div class="form-group">
        <label for="duration">Duration <span class="required">*</span></label>
        <input class="form-control border border-danger rounded" th:field="*{duration}" type="text" id="duration" required name="duration" th:value="${services.duration}">
    </div>

    <div class="form-group">
        <label for="price">Price <span class="required">*</span></label>
        <input class="form-control border border-danger rounded" th:field="*{price}" id="price" required name="price" th:value="${services.price}">
    </div>
    <!--        <div th:object="${user}">-->
    <!--            <input type="hidden" th:value="${user.barberDetail}" th:field="${service.barberDetail}">-->
    <!--        </div>-->
    <button class=" btn btn-primary" type="submit">Edit Service</button>
    <input type="hidden" th:value="${services.id}" name="serviceId">
    <a class="btn btn-primary float-right" style="text-decoration: none; color:black;" th:href="@{/barber/profile}"><i class="fas fa-arrow-circle-left"></i></a>

</form>
</div>
    <footer th:replace="partials :: footer"></footer>

</body>
</html>