<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="partials :: head (Title = 'Entered Bio: ')">
    <meta charset="UTF-8">
    <title>Barber Details</title>
</head>
<body>
<header>
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">

        <a class="navbar-brand nav-link" th:href="@{/}"><i class="fas fa-cut"></i> SHEARUP</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class=" nav justify-content-center navbar-nav navbar-inner ml-auto">
                <!--WITH BANG IF NOT AUTHENTICATED HIDE THESE-->
                <th:block sec:authorize="!isAuthenticated()">
                    <li class="nav-item">
                        <a class="btn btn-primary" th:href="@{/login}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-primary ml-3" th:href="@{/sign-up}">Sign Up</a>
                    </li>
                </th:block>

                <!--IF AUTHENTICATED SHOW THESE-->
                <!--LOGGED IN CLIENT / BARBER USER-->

                <!--                <th:block sec:authorize="isAuthenticated()">-->
                <!--                    <li class="nav-item">-->
                <!--                        <a class="nav-link" th:href="/services">Services</a>-->
                <!--                    </li>-->
                <!--                    <li class="nav-item">-->
                <!--                        <a class="nav-link" th:href="/barberProfile">Barber</a>-->
                <!--                    </li>-->
                <!--                    <li class="nav-item">-->
                <!--                        <a class="nav-link" th:href="/clientProfile">Client</a>-->
                <!--                    </li>-->
                <!--                </th:block>-->

                <th:block sec:authorize="isAuthenticated()">
                    <li class="nav-item">
                        <form  th:action="@{/logout}" th:method="POST">
                            <button id="logout" class="btn-link btn" style="color: #8d2827"><i class="fas fa-sign-out-alt"></i></button>
                        </form>
                    </li>
                </th:block>
            </ul>
        </div>
    </nav>
    <style>
        .required {
            color: red;
        }

        body {
            background-color: #2B333D;
        }
    </style>
</header>
<div class="container">
    <form th:action="@{'/barber/edit-barber-details'}"  th:method="POST" th:object="${barberDetail}">
        <h1>Edit Page for Barber Details</h1>
        <div class="form-group">
            <label for="bio">Bio <span class="required">*</span></label>
            <input class="form-control" type="text" th:field="*{bio}" id="bio" name="bio" th:value="${barberDetail.bio}">
        </div>

        <div class="form-group">
            <label for="phone">Phone Number <span class="required">*</span></label>
            <input class="form-control" type="number" th:field="*{phone}" id="phone" name="phone" th:value="${barberDetail.phone}" oninput="if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                   maxlength = "10">
        </div>

        <div class="form-group">
            <label for="hours">Hours of Operation <span class="required">*</span></label>
            <input class="form-control" type="text" th:field="*{hoursOfWork}" id="hours" name="hours" th:value="${barberDetail.hoursOfWork}">
        </div>

        <button class="btn btn-primary">Edit Barber Details</button>
        <input type="hidden" th:value="${barberDetail.id}" name="barberDetailId">
        <a class="btn btn-primary float-right" style="text-decoration: none; color:black;" th:href="@{/barber/profile}">Back</a>

    </form>
</div>
<footer th:replace="partials :: footer"></footer>
</body>
</html>