<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">


    <head th:replace="partials :: head (Title = 'View By Id')">
    <meta charset="UTF-8">
    <title>Barber profile page</title>
</head>
<body>
<header th:replace="partials :: header"></header>
    <h1>Barber Profile page</h1>
    <h1>Welcome, <h1 th:text="${user.firstName}"></h1>
    <h1>List of Services: </h1>
        <!--  THROWING ERROR FOR NOW WORKING ON FIX
        (I DID NOT WANT TO BREAK APPLICATION) -RAMON  -->
    <div th:each="service : ${services}">
        <p>Title: </p><p th:text="${service.title}"></p>
        <p>Description: </p><p th:text="${service.description}"></p>
        <p>Duration: </p><p th:text="${service.duration}"></p>
        <p>Price: </p><p th:text="${service.price}"></p>
    </div>
    <button><a th:href="@{/barber/add-service}">Add Service</a></button>
</body>
</html>