<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="partials :: head (Title = 'Create')"></head>
<title>Submit a Barber service!</title>
</head>
<body>
<!--<nav th:replace="fragments/navbar :: navbar"></nav>-->

<div class="container p-5 border-left">

    <h2>Submit a Service below</h2>
    <a class="btn btn-primary" href="/reviews/create">Create Service</a>


    <h2 th:text="${service.title}"></h2>
    <p th:text="${service.description}"></p>
    <p th:text="${service.price}"></p>
    <p th:text="${service.duration}"></p>




</div>
<footer th:replace="partials :: footer"></footer>
</body>
</html>