<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<head th:replace="partials :: head (Title = 'Edit Profile')"></head>
	<meta class="filestack" th:content="${@environment.getProperty('filestack.api.key')}">

</head>
<body>

<style>
	body {
		background-color: #2B333D;
		color: #FEFED3;
	}
	
	.cardz {
		background-color: #2B333D;
	}
	
	.btn-submit {
		background-color: #FEFED3 !important;
		color: #2B333D !important;
	}
	.btn-submit:hover {
		background-color: #C2B59B !important;
		color: #FEFED3 !important;
	}
	
	.div1 {
		border: 15px #8D2827;
		padding: 50px;
		margin: 20px;
	}
</style>

<header th:replace="partials :: header"></header>

<div class="container p-5">
	
	<h2>Edit Profile</h2>
	
	<!-- EDIT PROFILE FORM   -->
	<hr>

<form th:action="@{/profile/edit/{id}(id=${user.id})}" th:method="POST" th:object="${user}" class="p-5"
		style="margin-top: -5%;">
	<div class="form-group">
		<label for="editFirstName">First Name</label>
		<input type="text" class="form-control border border-danger" id="editFirstName" name="editFirstName" th:field="*{firstName}" th:value="${user.firstName}">
	</div>
	<div class="form-group">
		<label for="editLastName">Last Name</label>
		<input type="text" class="form-control border border-danger" id="editLastName" name="editLastName" th:field="*{lastName}" th:value="${user.lastName}">
	</div>
	<div class="form-group">
		<label for="editUsername">Username</label>
		<input type="text" class="form-control border border-danger" id="editUsername" name="editUsername" th:field="*{username}" th:value="${user.username}">
	</div>
	<div class="form-group">
		<label for="editEmail">Email</label>
		<input type="text" class="form-control border border-danger" id="editEmail" name="editEmail" th:field="*{email}" th:value="${user.email}">
	</div>

	<input type="hidden" id="imageUpload" name="imageUpload" value="null">
	<img src="" class="hidden" id="imagePreview" style="height: 200px">

<!--	<div class="form-group">-->
<!--		<label for="editPassword">Password</label>-->
<!--		<input class="form-control" id="editPassword" type="password" name="editPassword" th:field="*{password}">-->
<!--	</div>-->
<!--	<div class="form-group">-->
<!--		<label for="passwordConfirmation">Confirm Password</label>-->
<!--		<span id="message"></span>-->
<!--		<input id="passwordConfirmation" name="passwordConfirmation" type="password" />-->
<!--	</div>-->
	<button class="btn btn-submit" type="submit">Save</button>
	<a class="btn btn-submit float-right" style="text-decoration: none; color:black;" th:href="@{/profile}">back</a>
</form>
</div>
<script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
<script type="text/javascript" th:src="@{/js/keys.js}"></script>
<script type="text/javascript" th:inline="javascript">
	// This one works with creating a service and uploading an image for that service

	const client = filestack.init(FILESTACK_KEY);

	const options = {
		onUploadDone: saveLocation
	};
	client.picker(options).open();

	function saveLocation(resp){
		console.log(resp);
		// do some error handling and such here like fileError > filesuploaded[0]
		const photo = resp.filesUploaded[0];
		document.getElementById("imageUpload").value = photo.handle;

		document.getElementById("imagePreview").src = "https://cdn.filestackcontent.com/" + photo.handle;
	}
</script>
<!--<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>-->
<!--<script>-->
<!--	$('#editPassword, #passwordConfirmation').on('keyup', function () {-->
<!--		if ($('#editPassword').val() === $('#passwordConfirmation').val()) {-->
<!--			$('#message').html('Matching').css('color', 'green');-->
<!--		} else-->
<!--			$('#message').html('Not Matching').css('color', 'red');-->
<!--	});-->
<!--</script>-->

<footer th:replace="partials :: footer"></footer>
</body>
</html>