<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials :: head (Title = 'Login')"></head>
<meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<body>
<!--Styling for text and background color-->
<style>
	body {
		background-color: #2B333D;
		color: #FEFED3;
	}

	.cardz {
		background-color: #2B333D;
	}
	
	.btn-submit {
		background-color: #FEFED3 !important;
		color: #2B333D !important;
	}
	.btn-submit:hover {
		background-color: #C2B59B !important;
		color: #FEFED3 !important;
	}

	.div1 {
		border: 15px #8D2827;
		padding: 50px;
		margin: 20px;
	}
</style>
<header th:replace="partials :: header"></header>

<div class="container d-flex flex-column align-items-center">
	<h1 class="mb-5 mt-3">Log In</h1>
	
	<div th:if="${param.error}">
		Invalid Username and Password.
	</div>
	<div th:if="${param.logout}">
		You have been logged out.
	</div>
	
	<form th:action="@{/login}" method="post">
		<div class="form-group">
			<label for="username">Username</label>
			<input class="form-control border border-danger rounded" id="username" name="username" type="text" required/>
		</div>
			<div class="form-group">
			<label for="password">Password</label>
			<input class="form-control border border-danger rounded" id="password" name="password" type="password" required/>
		</div>
		
		<input class="btn btn-submit" type="submit" value="Log In" />
	</form>
</div>




<footer th:replace="partials :: footer"></footer>
</body>
</html>