<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials :: head (Title = 'Profile')">
	<link rel="stylesheet" href="../../static/css/profile.css">
</head>
<body>

<header th:replace="partials :: header"></header>

<div class="row py-5 px-4">
	<div class="col-xl-4 col-md-6 col-sm-10 mx-auto">
		<div class="bg-white shadow rounded overflow-hidden">
			<div class="px-4 pt-0 pb-4 bg-dark">
				<div class="media align-items-end profile-header">
					<div class="profile mr-3"><img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.viawater.nl%2Fusers%2Fkristine-yakhama&psig=AOvVaw1pXsafPcNG-OEGwbAYUvfI&ust=1598132892677000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCPie24yjresCFQAAAAAdAAAAABAO" alt="..." width="130" class="rounded mb-2 img-thumbnail"><a th:href="@{/profile/edit}" class="btn btn-dark btn-sm btn-block">Edit profile</a></div>
					<div class="media-body mb-5 text-white" th:object="${user}">
						<h4 class="mt-0 mb-0"><span th:text="*{firstName}"></span> <span th:text="*{lastName}"></span></h4>
						<p class="small mb-4" th:text="*{username}"> <i class="fas fa-at mr-2"></i></p>
						<p class="small mb-4" th:text="*{email}"> <i class="far fa-envelope mr-2"></i>></p>
					</div>
				</div>
			</div>
			
			<div class="bg-light p-4 d-flex justify-content-end text-center">
			
			</div>
			
			<div class="py-4 px-4">
				<div class="py-4">
					<h5 class="mb-3">Recent reviews</h5>
					<div class="p-4 bg-light rounded shadow-sm">
						<p class="font-italic mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
						<ul class="list-inline small text-muted mt-3 mb-0">
							<li class="list-inline-item"><i class="far fa-user-circle mr-2"></i>Barber</li>
							<li class="list-inline-item"><i class="fas fa-cut mr-2"></i>Service name</li>
						</ul>
					</div>
				</div>
			</div>
		</div><!-- End profile widget -->
	
	</div>
</div>

<footer th:replace="partials :: footer"></footer>
</body>
</html>