<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="'Ooops, ' + ${error}"></title>
    <!--CSS STYLING-->
    <link rel="stylesheet" type="text/css" href="/static/css/footer.css" th:href="@{/css/error.css}">
</head>
<body>
<th:block th:switch="${error}">
    <div th:case="'Not Found'">
        <h1>404 Page Not Found</h1>
    </div>
    <div th:case="'Forbidden'">
        <h1>You don't have permission to view this page.</h1>
    </div>
</th:block>
<p>Oops. It looks like you missed your barber...</p>
<iframe width="560"
        height="315"
        src="https://www.youtube-nocookie.com/embed/pRsbOHgx2OU"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
<p>Probably not as much as the guy in the video.</p>
</body>
</html>