<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="partials/partials :: head"></div>
</head>
<body>
<nav th:replace="partials/partials :: navbar"></nav>
<div class="container p-5 text-center">
    <br>
    <h1>Looks like you haven't made the cut!</h1>
    <h3>No problem, maybe next time...</h3>
    <a class="btn btn-warning" href="/static">Let's try that again.</a>
    <br>
    <img width="95%" id="errorImg" src="" alt="">


</div>
<script>

    let random = Math.ceil(Math.random() * 4);
    let errorImg = document.getElementById("errorImg");
    errorImg.src = "../../images/error_" + random + ".jpg";

</script>
</body>
</html>