* {
	box-sizing: border-box;
}

#titleHome {
	font-family: 'Dancing Script', cursive;
	transform: rotate(-10deg);
	font-size: 10em;
	color: #FEFED3;
}

.home-body, .home-html {
	height: 100%;
	background-color: #7D7D7D;
	/*background-color: rgba(43, 51, 61, 0.4);*/
	/*background-image: url("/static/img/barber-tools.jpg");*/
	/*background-position: center;*/
	/*background-repeat: no-repeat;*/
	/*background-size: 100%;*/
}

.bg {
	height: 100%;
	background-image: url("../img/barber-tools.jpg");
	background-position: center;
	background-size: 100%;
	z-index: 0;
}

.bg-overlay {
	background-color: rgba(43, 51, 61, 0.6);
}

.home-login, .home-signup {
	background-color: #FEFED3 !important;
	color: #2B333D !important;
}
.home-login:hover, .home-signup:hover {
	background-color: #2B333D !important;
	color: #FEFED3 !important;
}

header, .navbar, .navbar-brand, .navbar-toggler, .navbar-toggler-icon, .nav-item, .nav-link {
	/*BLUE NAV W/ CREAM FONT*/
	background-color: #7D7D7D;
	color: #2B333D;
	/*TAN NAV W/ DARK BLUE FONT*/
	/*background-color: #DCCCBB;*/
	/*color: #2B333D;*/
	/*BROWN NAV W/ DARK BLUE FONT*/
}

.nav-link:hover {
	background-color: #2B333D;
	color: #DCCCBB;
}

.icon {
	color: #C2B59B !important;
}

.home-main {
	background-color: #7D7D7D;
}

.home-main-section {
	background-color: #2B333D;
	color: #FEFED3;
}

.hr-home {
	color: #7D7D7D;
}

.pic-1 {
	background-image: url("../img/shave-mask.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.pic-2 {
	background-image: url("../img/barber.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.pic-3 {
	background-image: url("../img/shave-phonebooth.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}