<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <head th:replace="partials :: head (Title = 'FAQ Page')"></head>
    <!-- This script tag includes the Filestack API into your HTML file -->
    <script type="text/javascript" src="https://static.filestackapi.com/v3/filestack.js"></script>
    <meta charset="UTF-8">
    <title>FAQ Page</title>
</head>

<body>
<header th:replace="partials :: header"></header>

<h1>This is the FAQ page!</h1>
<script src="../keys.js"></script>


<script>
    //Instantiating dialog with Filestack
    var client = filestack.init(FILESTACK_KEY);
    // console.log(FILESTACK_KEY);
    //Filestack API method 'pick()' that opens the file picker
    client.pick({});
</script>


<footer th:replace="partials :: footer"></footer>

</body>
</html>