<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head (Title)">
	<meta charset="UTF-8">
	<title th:text="${Title}"></title>
	<link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css}">
	<script src="https://use.fontawesome.com/releases/v5.14.0/js/all.js" data-auto-replace-svg="nest"></script>
</head>
<body>
<header th:fragment="header">
		<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">


			<a class="navbar-brand nav-link" th:href="@{/}"><i class="fas fa-cut"></i> SHEARUP</a>

			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class=" nav justify-content-center navbar-nav navbar-inner ml-auto">
					<!--WITH BANG IF NOT AUTHENTICATED HIDE THESE-->
					<th:block sec:authorize="!isAuthenticated()">
						<li class="nav-item">
							<a class="btn btn-primary" th:href="@{/login}">Login</a>
						</li>
						<li class="nav-item">
							<a class="btn btn-primary ml-3" th:href="@{/sign-up}">Sign Up</a>
						</li>
					</th:block>

					<!--IF AUTHENTICATED SHOW THESE-->
					<!--LOGGED IN CLIENT / BARBER USER-->

					<!--                <th:block sec:authorize="isAuthenticated()">-->
					<!--                    <li class="nav-item">-->
					<!--                        <a class="nav-link" th:href="/services">Services</a>-->
					<!--                    </li>-->
					<!--                    <li class="nav-item">-->
					<!--                        <a class="nav-link" th:href="/barberProfile">Barber</a>-->
					<!--                    </li>-->
					<!--                    <li class="nav-item">-->
					<!--                        <a class="nav-link" th:href="/clientProfile">Client</a>-->
					<!--                    </li>-->
					<!--                </th:block>-->

					<th:block sec:authorize="isAuthenticated()">
						<li class="nav-item">
							<a class="btn btn-primary" th:href="@{/profile}">Profile</a>
						</li>
						<li class="nav-item">
							<form  th:action="@{/logout}" th:method="POST">
								<button id="logout" class="btn-link btn" style="color: #8D2827"><i class="fas fa-sign-out-alt"></i></button>
							</form>
						</li>
					</th:block>
				</ul>
			</div>
		</nav>
</header>
<footer th:fragment="footer">
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
	<span>
			<i class="fab fa-twitter">
				<a th:href="@{http://www.twitter.com}">Twitter</a>
			</i>
			<i class="fab fa-instagram">
				<a th:href="@{http://www.instagram.com}">Instagram</a>
			</i>
	</span>
</footer>
</body>
</html>