<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <head th:replace="partials :: head (Title = 'Filestack')"></head>
    <meta charset="UTF-8">
    <title>FAQ Page</title>
</head>
<header th:replace="partials :: header"></header>
<body>

<h1>This is the upload image page!</h1>

<div class="box">
    <form id="pick-form">
        <div class="field">
            <div class="control">
                <button class="button" type="button" id="picker">Pick file</button>
                <input type="hidden" id="fileupload">
            </div>
            <div class="control" id="nameBox"></div>
            <div class="control" id="urlBox"></div>
        </div>
        <div class="field">
            <div class="control">
                <input class="button" type="submit" value="Submit">
            </div>
        </div>
    </form>
</div>
<!---------- UPLOAD PROFILE PHOTO MODAL BUTTON---------->
<!--<button type="button" class="btn btn-sm submit-btn btn-circle" data-toggle="modal" id="open"-->
<!--        data-target=".bd-example-modal-lg">-->
<!--    <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" class="circle-btn-icon">-->
<!--        <path d="M11.492 10.172l-2.5 3.064-.737-.677 3.737-4.559 3.753 4.585-.753.665-2.5-3.076v7.826h-1v-7.828zm7.008 9.828h-13c-2.481 0-4.5-2.018-4.5-4.5 0-2.178 1.555-4.038 3.698-4.424l.779-.14.043-.789c.185-3.448 3.031-6.147 6.48-6.147 3.449 0 6.295 2.699 6.478 6.147l.044.789.78.14c2.142.386 3.698 2.246 3.698 4.424 0 2.482-2.019 4.5-4.5 4.5m.978-9.908c-.212-3.951-3.472-7.092-7.478-7.092s-7.267 3.141-7.479 7.092c-2.57.463-4.521 2.706-4.521 5.408 0 3.037 2.463 5.5 5.5 5.5h13c3.037 0 5.5-2.463 5.5-5.5 0-2.702-1.951-4.945-4.522-5.408"/>-->
<!--    </svg>-->
<!--</button>-->

<!-- This script tag includes the Filestack API into your HTML file -->
<script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
<script type="text/javascript" src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
<script th:src="@{../js/keys.js}"></script>
<script th:src="@{../js/filestack.js}"></script>

<footer th:replace="partials :: footer"></footer>

</body>
</html>