<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="partials :: head (Title = 'About')">
    <meta charset="UTF-8">

    <script src="https://kit.fontawesome.com/0f79ad2218.js" crossorigin="anonymous"></script>

</head>
<body>
<header th:replace="partials :: header"></header>

<h1 class="center-align">Capstone Team</h1>

<div class="center-align">
    <!--Knoah Cotto-->
    <div>
        <h4>Knoah</h4>
        <h4>Cotto</h4>
        <a href=""></a>
        <a href=""></a>
        <a href=""><i class="fab fa-github"></i></a>
        <a href=""></a>
    </div>

    <!--Chris Eckert-->
    <div>
        <h4>Chris</h4>
        <h4>Eckert</h4>
        <a href=""></a>
        <a href=""></a>
        <a href=""><i class="fab fa-github"></i></a>
        <a href=""></a>
    </div>

    <!--Ramon Villarreal-Leal-->
    <div>
        <h4>Ramon</h4>
        <h4>Villarreal-Leal</h4>
        <a href=""></a>
        <a href=""></a>
        <a href=""><i class="fab fa-github"></i></a>
        <a href=""></a>
    </div>

    <!--Michael Garrison-->
    <div>
        <h4>Michael</h4>
        <h4>Garrison</h4>
        <a href=""></a>
        <a href=""></a>
        <a href=""><i class="fab fa-github"></i></a>
        <a href=""></a>
    </div>
</div>

</body>
<footer th:replace="partials :: footer"></footer>
</html>