<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="partials :: head (Title = 'About')">
    <meta charset="UTF-8">

    <script src="https://kit.fontawesome.com/0f79ad2218.js" crossorigin="anonymous"></script>

</head>
<body>
<header th:replace="partials :: header"></header>
<br>
<h1 class="text-center">ShearUp :)</h1>
<br>
<hr>

<!--======== 2 ROW 2 COLUMNS ==========-->

<!--<div class="row row-cols-1 row-cols-md-2">-->
<!--    <div class="col mb-4">-->
<!--        <div class="card">-->
<!--            <img src="..." class="card-img-top" alt="...">-->
<!--            <div class="card-body">-->
<!--                &lt;!&ndash;Knoah Cotto&ndash;&gt;-->
<!--                <div>-->
<!--                    <h4>Knoah</h4>-->
<!--                    <h4>Cotto</h4>-->
<!--                    &lt;!&ndash;        <a href=""><i class="fas fa-envelope"></i></a>&ndash;&gt;-->
<!--                    <a href="https://www.linkedin.com/in/cottoknoah/"><i class="fab fa-linkedin"></i></a>-->
<!--                    <a href="https://github.com/cottoknoah"><i class="fab fa-github"></i></a>-->
<!--                    <a href="https://alumni.codeup.com/students/877"><i class="fas fa-graduation-cap"></i></a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="col mb-4">-->
<!--        <div class="card">-->
<!--            <img src="..." class="card-img-top" alt="...">-->
<!--            <div class="card-body">-->
<!--                &lt;!&ndash;Chris Eckert&ndash;&gt;-->
<!--                <div>-->
<!--                    <h4>Chris</h4>-->
<!--                    <h4>Eckert</h4>-->
<!--                    &lt;!&ndash;        <a href=""><i class="fas fa-envelope"></i></a>&ndash;&gt;-->
<!--                    <a href="https://www.linkedin.com/in/cme90/"><i class="fab fa-linkedin"></i></a>-->
<!--                    <a href="https://github.com/chrise08"><i class="fab fa-github"></i></a>-->
<!--                    <a href="https://alumni.codeup.com/students/862"><i class="fas fa-graduation-cap"></i></a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="col mb-4">-->
<!--        <div class="card">-->
<!--            <img src="..." class="card-img-top" alt="...">-->
<!--            <div class="card-body">-->
<!--                &lt;!&ndash;Ramon Villarreal-Leal&ndash;&gt;-->
<!--                <div>-->
<!--                    <h4>Ramon</h4>-->
<!--                    <h4>Villarreal-Leal</h4>-->
<!--                    &lt;!&ndash;        <a href=""><i class="fas fa-envelope"></i></a>&ndash;&gt;-->
<!--                    <a href="https://www.linkedin.com/in/ramon-villarreal-leal/"><i class="fab fa-linkedin"></i></a>-->
<!--                    <a href="https://github.com/ramon-villarreal-leal"><i class="fab fa-github"></i></a>-->
<!--                    <a href="https://alumni.codeup.com/students/872"><i class="fas fa-graduation-cap"></i></a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="col mb-4">-->
<!--        <div class="card">-->
<!--            <img src="..." class="card-img-top" alt="...">-->
<!--            <div class="card-body">-->
<!--                &lt;!&ndash;Michael Garrison&ndash;&gt;-->
<!--                <div>-->
<!--                    <h4>Michael</h4>-->
<!--                    <h4>Garrison</h4>-->
<!--                    &lt;!&ndash;        <a href=""><i class="fas fa-envelope"></i></a>&ndash;&gt;-->
<!--                    <a href="https://www.linkedin.com/in/michael-e-garrison/"><i class="fab fa-linkedin"></i></a>-->
<!--                    <a href="https://github.com/mgarrisonn"><i class="fab fa-github"></i></a>-->
<!--                    <a href="https://alumni.codeup.com/students/865"><i class="fas fa-graduation-cap"></i></a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->


<!--======== 1 ROW 4 COLUMNS ==========-->
<div class="container">
    <div class="card-deck">
        <div class="card">
            <img src="/img/KC.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <!--Knoah Cotto-->
                <div>
                    <h4>Knoah</h4>
                    <h4>Cotto</h4>
                    <!--        <a href=""><i class="fas fa-envelope"></i></a>-->
                    <a href="https://www.linkedin.com/in/cottoknoah/"><i class="fab fa-linkedin"></i></a>
                    <a href="https://github.com/cottoknoah"><i class="fab fa-github"></i></a>
                    <a href="https://alumni.codeup.com/students/877"><i class="fas fa-graduation-cap"></i></a>
                </div>
            </div>
        </div>
        <div class="card">
            <img src="/img/CE.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <!--Chris Eckert-->
                <div>
                    <h4>Chris</h4>
                    <h4>Eckert</h4>
                    <!--        <a href=""><i class="fas fa-envelope"></i></a>-->
                    <a href="https://www.linkedin.com/in/cme90/"><i class="fab fa-linkedin"></i></a>
                    <a href="https://github.com/chrise08"><i class="fab fa-github"></i></a>
                    <a href="https://alumni.codeup.com/students/862"><i class="fas fa-graduation-cap"></i></a>
                </div>
            </div>
        </div>
        <div class="card">
            <img src="img/RVL.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <!--Ramon Villarreal-Leal-->
                <div>
                    <h4>Ramon</h4>
                    <h4>Villarreal-Leal</h4>
                    <!--        <a href=""><i class="fas fa-envelope"></i></a>-->
                    <a href="https://www.linkedin.com/in/ramon-villarreal-leal/"><i class="fab fa-linkedin"></i></a>
                    <a href="https://github.com/ramon-villarreal-leal"><i class="fab fa-github"></i></a>
                    <a href="https://alumni.codeup.com/students/872"><i class="fas fa-graduation-cap"></i></a>
                </div>
            </div>
        </div>
        <div class="card">
            <img src="img/mg.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <!--Michael Garrison-->
                <div>
                    <h4>Michael</h4>
                    <h4>Garrison</h4>
                    <!--        <a href=""><i class="fas fa-envelope"></i></a>-->
                    <a href="https://www.linkedin.com/in/michael-e-garrison/"><i class="fab fa-linkedin"></i></a>
                    <a href="https://github.com/mgarrisonn"><i class="fab fa-github"></i></a>
                    <a href="https://alumni.codeup.com/students/865"><i class="fas fa-graduation-cap"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<footer th:replace="partials :: footer"></footer>
</html>