<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <head th:replace="partials :: head (Title = 'Create')"></head>
    <title>Create a Barber Appointments!</title>

    <!--    Custom Styling For Side Nav-->
    <link th:href="@{/css/sidenav.css}" href="/css/sidenav.css" rel="stylesheet" type="text/css">

</head>
<body>

<!--Nav-->
<header th:replace="partials :: header"></header>

<div class="main">

    <!--    Side Nav-->
    <div class="sidenav">
        <a th:href="@{'/about'}">About</a>
        <a th:href="@{'/appointments'}">View</a>
        <a th:href="@{'/appointments/create'}">Create</a>
        <a th:href="@{'/reviews/create'}">Edit</a>
    </div>

    <div class="container p-5 border-left">

        <h2 class="text-center">Create Appointment</h2>

        <!--    CREATE Appointment FORM   -->
        <hr>
        <form th:action="@{'/appointments/create'}" th:method="post" th:object="${appointment}" class="p-5"
              style="margin-top: -5%;">
            <div class="form-group">
                <label for="user"></label>
                <input type="hidden" placeholder="User Id" class="form-control" id="user" th:value="*{getUser()}">
<!--                <input type="text" disabled="disabled" placeholder="User Id" class="form-control" id="user" th:value="*{getUser()}">-->
            </div>
            <div class="form-group">
                <label for="barber"></label>
                <input type="hidden" placeholder="Barber Id" class="form-control" id="barber" th:value="*{getBarberDetail()}">
<!--                <input type="text" disabled="disabled" placeholder="Barber Id" class="form-control" id="barber" th:value="*{getBarberDetail()}">-->
            </div>
            <div class="form-group">
                <label for="createTitle">Created At</label>
                <input type="datetime-local" disabled="disabled" placeholder="Current Time Stamp" class="form-control" id="createTitle" th:value="*{getCreateDateTime()}">
            </div>
            <div class="form-group">
                <label for="createContent">Appointment Details</label>
                <textarea class="form-control" placeholder="Detailed Appointment Information" id="createContent" th:field="*{note}"></textarea>
            </div>
            <button style="border-left: 4px solid navy;" class="bg-dark text-white" type="submit">Submit Appointment</button>
            <a class="float-right" style="text-decoration: none; color:black;" th:href="@{/appointments}">Back</a>
        </form>

    </div>
    <footer th:replace="partials :: footer"></footer>
</div>
</body>
</html>

<!--Source-->
<!--https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_sidenav-->