<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <head th:replace="partials :: head (Title = 'Create')"></head>
    <title>Create a Barber Appointments!</title>

    <!--    Custom Styling For Side Nav-->
<!--    <link th:href="@{/css/sidenav.css}" href="/css/sidenav.css" rel="stylesheet" type="text/css">-->

</head>
<body>
<style>
    body {
        background-color: #2B333D;
        color: #FEFED3;
    }

    .div1 {
        border: 15px #8D2827;
        padding: 50px;
        margin: 20px;
    }

    .btn-submit {
        background-color: #FEFED3 !important;
        color: #2B333D !important;
    }
    .btn-submit:hover {
        background-color: #C2B59B !important;
        color: #FEFED3 !important;
    }
    p, li, span {
        font-size: larger;
    }

</style>
<!--Nav-->
<header th:replace="partials :: header"></header>

<div class="main">

    <div class="container p-5">

        <h2 class="text-center">Create Appointment</h2>

        <!--    CREATE APPOINTMENT FORM   -->
        <hr>
        <form th:action="@{'/appointments/create'}" th:method="post" th:object="${appointment}" class="p-5"
              style="margin-top: -5%;">
            <div class="form-group">
                <input type="hidden" placeholder="User Id" class="form-control" id="user" th:value="*{getUser()}">
            </div>
            <div class="form-group">
                <input type="hidden" placeholder="Barber Id" class="form-control" id="barber" name="barberId" th:value="${barber.barberDetail.id}">
            </div>
            <div class="form-group">
                <input type="hidden" disabled="disabled" placeholder="Current Time Stamp" class="form-control" id="createTitle" th:value="*{getCreateDateTime()}">
            </div>
            <div class="form-group">
                <label for="createContent">Phone Number</label>
                <textarea class="form-control" placeholder="(xxx)xxx-xxxx" id="createPhone" th:field="*{phone}"></textarea>
            </div>
            <div class="form-group">
                <label for="createContent">Appointment Details</label>
                <textarea class="form-control" placeholder="Detailed Appointment Information" id="createContent" th:field="*{note}"></textarea>
            </div>
            <button class="btn btn-submit " type="submit">Submit Appointment</button>
            <a class="float-right" style="text-decoration: none; color:black;" th:href="@{/barbers}"><i class="fas fa-arrow-circle-left"></i></a>
        </form>

    </div>
    <footer th:replace="partials :: footer"></footer>
</div>
</body>
</html>
