<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="partials :: head (Title = 'Deltete By Id')"></head>

<!--    Custom Styling For Side Nav-->
<link th:href="@{/css/sidenav.css}" href="/css/sidenav.css" rel="stylesheet" type="text/css">


</head>
<body>

<!--Nav-->
<header th:replace="partials :: header"></header>

<div class="main">
    <div class="container p-5 border-left">

        <!--    Side Nav-->
        <div class="sidenav">
            <a th:href="@{'/about'}">About</a>
            <a th:href="@{'/appointments'}">View</a>
<!--            <a th:href="@{'/appointments/create'}">Create</a>-->
<!--            <a th:href="@{'/reviews/create'}">Edit</a>-->
            <a th:href="@{'/mapbox-map'}">Map</a>
        </div>

        <h2 class="text-center">Would you like to Delete Appointment Details?</h2>
        <hr>

        <!--    Viewing the review based off off id-->
<!--        <h2 th:text="${appointment.createDateTime}"></h2>-->
<!--        <p th:text="${appointment.note}"></p>-->
<!--        <p th:text="${review.rating}"></p>-->
<!--        <form th:action="@{'/appointments/' + ${appointment.getId()} + '/delete'}" th:method="post">-->
<!--            <button>Delete</button>-->
<!--        </form>-->
<!--        <a class="float-right" style="text-decoration: none; color:black;" th:href="@{/appointments}">Back</a>-->

        <div class="card">
            <div class="card-header">
                Appointment
            </div>
            <div class="card-body">
                <h2 class="card-title" th:text="${appointment.createDateTime}"></h2>
                <p class="card-text" th:text="${appointment.note}"</p>
                <form th:action="@{'/appointments/' + ${appointment.getId()} + '/delete'}"th:method="post">
                    <button class="btn btn-danger">Delete</button>
                </form>
                <a class="float-right" style="text-decoration: none; color:black;" th:href="@{/appointments}">Back</a>
            </div>
        </div>

    </div>
<!--    <footer th:replace="partials :: footer"></footer>-->
</div>
</body>
</html>

<!--Source-->
<!--https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_sidenav-->