<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="partials :: head (Title = 'View By Id')"></head>
<title>Submit a Barber Review!</title>

</head>
<body>
<style>
    body {
        background-color: #2B333D;
        color: #FEFED3;
    }

    .cardz {
        background-color: #2B333D;
    }

    .div1 {
        border: 15px #8D2827;
        padding: 50px;
        margin: 20px;
    }
    .btn-submit {
        background-color: #FEFED3 !important;
        color: #2B333D !important;
    }
    .btn-submit:hover {
        background-color: #C2B59B !important;
        color: #FEFED3 !important;
    }
    p, li, span {
        font-size: larger;
    }
</style>
<!--Nav-->
<header th:replace="partials :: header"></header>

<div class="main">
    <div class="container p-5">


        <h2 class="text-center">Viewing Appointments By Id</h2>
        <hr>
<!--        <ul class="list-group list-group-horizontal-md">-->
<!--&lt;!&ndash;            <li th:text="${appointment.user}"></li>&ndash;&gt;-->
<!--            <li class="list-group-item" th:text="${appointment.createDateTime}"></li>-->
<!--            <li class="list-group-item" th:text="${appointment.note}"></li>-->
<!--        </ul>-->
        <!--    Viewing the appointment based off off id-->
<!--        <h2 th:text="${appointment.createDateTime}"></h2>-->
<!--        <p th:text="${appointment.note}"></p>-->
<!--        <a th:href="@{'/appointments/' + ${appointment.id} + '/edit'}">Edit Appointment</a>-->
        <br>
<!--        <a th:href="@{'/appointments/' + ${appointment.id} + '/delete'}">Delete Appointment</a>-->
        <!--    <form th:action="@{'/reviews/' + ${review.getId()} + '/delete'}" th:method="post">-->
        <!--        <button>Delete</button>-->
        <!--    </form>-->
<!--        <a class="btn btn-primary float-right" style="text-decoration: none; color:black;" th:href="@{/appointments}">Back</a>-->

        <div class="card">
            <div class="card-header cardz">
                Appointment
            </div>
            <div class="card-body cardz">
                <h2 class="card-title" th:text="${appointment.createDateTime}"></h2>
                <p class="card-text" th:text="${appointment.note}"></p>
                <p class="card-text" th:text="${appointment.phone}"></p>
                <a class="btn btn-danger" th:href="@{'/appointments/' + ${appointment.id} + '/delete'}"><i class="fas fa-trash-alt"></i></a>

                <a class="btn btn-primary float-right" style="text-decoration: none; color:black;" th:href="@{/appointments}"><i class="fas fa-arrow-circle-left"></i></a>
            </div>
        </div>

    </div>
    <footer th:replace="partials :: footer"></footer>
</div>
</body>
</html>

<!--Source-->
<!--https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_sidenav-->